.title{
    font-weight: 500;
}

.home_row{
    margin-top: 50px;
}

.input{
    padding: 10px;
}

.image1{
    height: auto;
    overflow: hidden;
    transition: 0.2s all ease-in-out; 
}

.image1:hover{
    display: inline-block;
    overflow: hidden;
    transform: scale(1.1); 
}

.image2{
    overflow: hidden; 
    margin-left: 25px;
    transition: 0.2s all ease-in-out; 
}

.image2:hover{
    transform: scale(1.1); 
}

.image3{
    overflow: hidden; 
    margin-left: 25px;
    transition: 0.2s all ease-in-out; 
}

.image3:hover{
    transform: scale(1.1);
}

.image4{
    overflow: hidden;
    margin-left: 25px;
    transition: 0.2s all ease-in-out;
}

.image4:hover{
    transform: scale(1.1);
}

.title1{
   margin-top: 1000px;
}

.home_row1{
    display: flex;
}

.home_row1 > .image5{
  margin-left: 80px;  
  width: 735px;
  margin-top: 60px;
}

.home_row1 > .image6{
    width: 735px;
    margin-left: 30px;
    margin-top: 60px;
  }

.home_row2{
    margin-top: 50px;
}

.home_row2 > .image1{
    border: 1px solid grey;
}

.home_row2 > .image2{
    border: 1px solid grey;
}

.home_row2 > .image3{
    border: 1px solid grey;
}

.home_row2 > .image4{
    border: 1px solid grey;
}

.home_row3{
    margin-top: 50px;
}

.home_row3 > .image1{
    border: 1px solid grey;
}

.home_row3 > .image2{
    border: 1px solid grey;
}

.home_row3 > .image3{
    border: 1px solid grey;
}

.home_row3 > .image4{
    border: 1px solid grey;
}

.button{
    padding: 10px;
    color: green;
    margin-top: 20px;
}

.productbutton:hover{
    color: white;
}



/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
  } */
